form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 25px;
    
  
  
  .title-input{
    height:40px;
    font-size: x-large;
    margin-bottom: 10px;
  }
  .detail-input{
    font-size: x-large;
    margin-bottom: 30px;
    width: 100%;
    height: 80px;
    resize: both;
    overflow: hidden;
  
    input{
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      overflow-wrap: break-word
    }
  }
  
  button{
    width:50%;
    height: 80px;
    margin: auto;
    background-color: #67D5B5;
    border: 2px solid #67D5B5;
    font-size:50px ;
    color: rgb(53, 52, 50);
    
  }

  

}button:hover{
        background-color: rgb(209, 57, 30);
        border: 2px solid rgb(209, 57, 30);
  }